@model EditClientViewModel

@{
    Layout = "AdminLayout";
    ViewData["Title"] = "Редактировать данные клиента";
}
<h2>Редактирование клиента</h2>

<form asp-action="EditClient" method="post">
    <input type="hidden" asp-for="ClientId" />
    <input type="hidden" asp-for="CarId" />
    <input type="hidden" asp-for="OrderId" />

    <div>
        <label>ФИО</label>
        <input asp-for="FullName" class="form-control" />
    </div>
    <div>
        <label>Телефон</label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>

    <div>
        <label>Марка машины</label>
        <input asp-for="Brand" class="form-control" />
    </div>
    <div>
        <label>Модель</label>
        <input asp-for="Version" class="form-control" />
    </div>
    <div>
        <label>VIN</label>
        <input asp-for="VIN" class="form-control" />
    </div>

    <div>
        <label>Цена заказа</label>
        <input asp-for="TotalPrice" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
</form>

